.portfolio {
  margin-top: 4.8rem;
}

.portfolio-container {
  max-width: 1194px;
  margin: 0 auto;

  padding-left: 2.4rem;
  padding-right: 2.4rem;
}

@media only screen and (min-width: 768px) {
  .portfolio-container {
    padding-left: 4.8rem;
    padding-right: 4.8rem;
  }
}

@media only screen and (min-width: 1280px) {
  .portfolio-container {
    padding-left: 6.4rem;
    padding-right: 6.4rem;
  }
}

.portfolio-title {
  margin-top: 5.6rem;
  margin-bottom: 3.8rem;

  color: var(--dark);
  font-size: 2rem;
  font-weight: var(--semi-bold-600);
  letter-spacing: -0.02px;
}

.footer {
  margin-top: 14rem;
  margin-bottom: 2.4rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-text {
  color: var(--grey);
  font-size: 1.4rem;
}

.footer-link {
  color: #0057ff;
  font-size: 1.4rem;
  text-decoration: none;
}
