.project {
  width: 100%;
  margin-top: 9.6rem;
  margin-bottom: 4rem;
}

.project-comment {
  width: 90%;

  color: var(--dark);
  font-size: 2rem;
  font-weight: var(--regular-400);
  letter-spacing: -0.02px;
}

.project-description {
  padding-top: 1.4rem;

  color: var(--grey);
  font-size: 1.2rem;
  font-weight: var(--semi-bold-600);
  text-transform: uppercase;
  letter-spacing: -0.02px;
}

@media only screen and (min-width: 868px) {
  .project-comment {
    width: 50%;
  }
}
