/*

  screen cards

*/

.s-cards {
  width: 100%;

  margin-bottom: 2.4rem;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(26rem, 1fr));
  grid-gap: 2.4rem;
}

@media only screen and (min-width: 868px) {
  .s-cards {
    background: var(--carbon);
    border-radius: 0.8rem;
  }
}

.s-card {
  padding: 4rem;

  background: var(--carbon);
  border-radius: 0.8rem;
}

.s-figure {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.s-img {
  width: 100%;
}

.s-caption {
  padding-top: 2.4rem;

  color: hsla(0, 0%, 100%, 0.8);
  font-size: 1.4rem;
  text-align: center;
}
