/*

  transparent cards

*/

.t-cards {
  width: 100%;

  margin-bottom: 2.4rem;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(26rem, 1fr));
  grid-gap: 2.4rem;
}

.t-card {
  margin-bottom: 2.4rem;

  display: grid;
  text-decoration: none;
}

.t-card-container {
}

.t-card-img {
  width: 100%;
}

.t-card-legend {
  padding-top: 2.4rem;
  padding-left: 4.6rem;

  color: var(--grey);
  font-size: 1.4rem;
  font-weight: var(--regular-400);
  line-height: 2.4rem;
  letter-spacing: -0.02px;
}
