.regular-title {
  color: var(--dark);
  font-size: 1.6rem;
  font-weight: var(--semi-bold-600);
  line-height: 2.4rem;
}

.regular {
  color: var(--grey);
  font-size: 1.6rem;
  font-weight: var(--regular-400);
  line-height: 2.4rem;
  letter-spacing: -0.02px;
}
